In [1]:
import pandas as pd

In [2]:
#Moyenne par catégorie

df = pd.DataFrame({
    "catégorie": ["A", "B", "A", "B", "C"],
    "valeur": [10, 20, 30, 40, 50]
})

print(df.groupby("catégorie")["valeur"].mean())

catégorie
A    20.0
B    30.0
C    50.0
Name: valeur, dtype: float64

In [3]:
#Nombre d’éléments par groupe (count)

df.groupby("catégorie")["valeur"].count()

catégorie
A    2
B    2
C    1
Name: valeur, dtype: int64

In [4]:
#Regrouper par plusieurs colonnes

df2 = pd.DataFrame({
    "pays": ["FR", "FR", "US", "US", "FR"],
    "année": [2020, 2021, 2020, 2021, 2020],
    "ventes": [100, 150, 200, 300, 120]
})

résultat = df2.groupby(["pays", "année"])["ventes"].sum()
print(résultat)

pays  année
FR    2020     220
      2021     150
US    2020     200
      2021     300
Name: ventes, dtype: int64

In [5]:
#Agrégations multiples avec .agg()

df2.groupby("pays").agg({
    "ventes": ["sum", "mean", "count"]
})

     ventes
        sum        mean count
pays
FR      370  123.333333     3
US      500  250.000000     2

In [9]:
#Agrégations multiples avec .agg()

résultat = df2.groupby("pays")[["ventes"]].sum().sort_values(by = ["ventes"], ascending = False)
print(résultat)

      ventes
pays
US       500
FR       370

In [10]:
#Moyenne de ventes par pays et année - pivot_table() — Tableau croisé dynamique

pivot = pd.pivot_table(df2, index="pays", columns="année", values="ventes", aggfunc="mean")
print(pivot)

année   2020   2021
pays
FR     110.0  150.0
US     200.0  300.0

In [11]:
pivot = pd.pivot_table(df2, index="pays", columns="année", values="ventes", aggfunc=["sum", "mean"])
print(pivot)

       sum        mean
année 2020 2021   2020   2021
pays
FR     220  150  110.0  150.0
US     200  300  200.0  300.0